/code/bin/coff2noff
/code/bin/coff2flat
/code/bin/disassemble
/code/bin/*.o
/code/filesys/Makefile.depends
/code/filesys/nachos
/code/filesys/swtch.s
/code/filesys/*.o
/code/network/Makefile.depends
/code/network/nachos
/code/network/swtch.s
/code/network/*.o
/code/threads/Makefile.depends
/code/threads/nachos
/code/threads/swtch.s
/code/threads/*.o
/code/userland/cat
/code/userland/cp
/code/userland/echo
/code/userland/filetest
/code/userland/halt
/code/userland/matmult
/code/userland/shell
/code/userland/sort
/code/userland/start
/code/userland/tiny_shell
/code/userland/touch
/code/userland/*.o
/code/userland/*.coff
/code/userprog/Makefile.depends
/code/userprog/nachos
/code/userprog/swtch.s
/code/userprog/*.o
/code/vmem/Makefile.depends
/code/vmem/nachos
/code/vmem/swtch.s
/code/vmem/*.o
/code/bin/readnoff
/code/test.txt