Makefile.depends
nachos
*.o
swtch.s
DISK

/code/check.log

/code/bin/coff2noff
/code/bin/coff2flat
/code/bin/disassemble
/code/bin/readnoff
/code/bin/fuse/mnt
/code/bin/fuse/nachosfuse

/code/userland/lib/
/code/userland/mips-dec-ultrix42/
/code/userland/filetest
/code/userland/halt
/code/userland/matmult
/code/userland/shell
/code/userland/sort
/code/userland/tiny_shell
/code/userland/*.coff

/code/tests/unittests
